body {
    background-color:black;
    background-image: url(images/background\ image.jpg);
    background-size: auto; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin:0;
}

/*ask claire how to fix the nav styles */
/* nav start */ 
#split {

  display:flex;
  justify-content: space-between;
  align-items:flex-end;
  flex: 1 0 60%; 
  padding: 0 1rem;
  margin:0;
  border-bottom: 4mm ridge rgb(49, 2, 30);
  background-color: black;


}

nav ul {color: rgba(204, 203, 200, 0.918); 
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    list-style: none;
    padding:0;
    background-color: rgb(49, 2, 30);
   opacity: 60%;
   display:flex;
  
}
/*i want to shift nav to sit on top of border - need to figure out */
nav { 
    flex: 0 1 40%; 
}

a:hover { background-color: rgb(235, 159, 206);
    color: rgb(49, 2, 30);
    padding: 5px; 
    margin:5px;
    border:3px solid;
}

/* i want to make these boxes nicer, not so tall and hover to fit box */
nav li {

    padding: 5px;
    margin: 5px;
    color:rgba(204, 203, 200, 0.918);
    text-decoration: none;
 
   }
/* nav end */ 


body.home h1 {
    text-decoration: underline;
    


}
h2 {
    color: rgba(204, 203, 200, 0.918);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

h1 {color: rgba(204, 203, 200, 0.918); 
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3rem;
   
    
}

figcaption{ 
    color:honeydew;
}

/* about us section start */ 
/* would like the image to span 80% of the width of page and paragraph to fit nicely - playing around with */
p{ 
  color:honeydew;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5em;
 
}


.about {
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    margin: 40px;
    padding: 15px;
}
.our-salon {
    text-indent: 55px;
}
/* about us section end */ 

/* not responsive friendly on the border box need to fix - dont like scroll bar */
.salonpics { 
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    overflow:auto;
    margin:40px;
  
}
.contact-info{ 
    color:honeydew;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;

}


/*services page*/
/* need to fit better within page? start and end borders not visible */
.pricelist{ 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;

   

}

.hairservice {
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
   
}

.nailservice {
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
  
}

.browservice {
    flex:1;
    border-radius: 25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    
}

.moreservice {
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
   
}

.products {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
}

 .pricelist ul {  font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        list-style:none;
        color:rgba(204, 203, 200, 0.918);
        text-decoration:underline;
        
    }
/*services page end*/

/*our team page start*/ 

/*how to get the image to left and text to right*/ 
.team-photo { 
    text-align: center;
}

body.team h1 { text-decoration: underline;}

body.team figcaption { font-size: 1rem;}

.team {
    display: flex;
    flex-direction: column;
    gap: 20px;
       
}


.chloe { 
   
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    margin: 10px;
    padding: 5px; 
    
}

/*why wont lannies border show*/
.lannie {
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    margin: 10px;
 }

.sophia {
    flex:1;
    border-radius:25px;
    border: 2px solid rgba(204, 203, 200, 0.918);
    position: relative;
    margin: 10px;
 }

/* footer start */ 
/*want to move contact us to right and rest to end tried and can't get yet */ 
footer .wrapper { 
      
       width: 100%;
       padding: 5px;
       align-items: flex-start;
       background-color: rgb(49, 2, 30);
       border-bottom: 4mm ridge rgb(49, 2, 30);
       opacity: 60%;
}

footer ul { 
    color: rgba(204, 203, 200, 0.918);
    display:flex;
    justify-content: space-evenly;
    flex: 1 0 auto;
    
    
}
/* footer end */ 